<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevator</title>
    <!--Bootstrap styles-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">
    <!--main css styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <main class="contanier p-5">
        <h1 class="display-4 text-center mt-4">Elevator Simulator</h1>
        <div class='row'>
            <div class="col-md-6 offset-md-3 my-auto">
                <div class="card">

                    <div class="card-header">
                        <!--INPUT demands number-->
                        <form action="/demand" method="POST">
                            <div class="form-group">
                                <input type="text" name="demands_number" placeholder="Number of demands" class="form-control" autofocus>
                            </div>
    
                            <!--Generate data!-->
                            <button type="submit" class="btn btn-primary btn-block">
                               Generate data     
                            </button>                            
                        </form>

                    </div>

                    <div class="card-body">
                        <ul class="list-group">
                            <!--Show every elevator demand-->
                            {% for demand in demands2 %}
                            <li class="list-group-item text-center">
                                {{demand}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                        

                </div>
            </div>

        </div>

    </main>
</body>

</html>